// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o-mail-user-status {
    font-size: 1em;
    position: relative;
    &.o-user-online {
        color: $o-enterprise-primary-color;
    }
    &.fa-stack {
        width: 1em;
        height: 1em;
        line-height: 1em;
    }
}

// ------------------------------------------------------------------
// Thread preview: shared between discuss (mobile) and systray
// ------------------------------------------------------------------

.o-mail-preview {
    display: flex;
    background-color: theme-color('light');
    color: $o-main-text-color;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    &:hover {
        background-color: gray('300');
        .o-preview-name {
            color: $headings-color;
        }
        .o-discuss-icon {
            opacity: 1;
        }
    }
    &:not(:last-child) {
        border-bottom: 1px solid gray('400');
    }
    .o-mail-preview-image {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        position: relative;
        width: 40px;
        height: 40px;
        object-fit: cover;
        > img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        &.o-mail-preview-app > img {
            border-radius: 2px;
        }
        .o-mail-user-status {
            @include o-position-absolute($bottom: 0px, $right: 0px);
        }
    }
    .o-preview-info {
        flex: 1 1 100%;
        overflow: hidden;
        .o-preview-title {
            align-items: center;
            display: flex;
            .o-preview-name {
                flex: 0 1 auto;
                @include o-text-overflow;
            }
            .o-mail-activity-action-buttons {
                display: flex;
                flex: 1 1 auto;
                flex-flow: row-reverse wrap;
            }
            .o-mail-activity-action {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 0px;
            }
            .o-preview-counter {
                flex: 0 1 auto;
            }
            .o-thread-window-expand {
                margin: 0px 6px;
            }
            .o-last-message-date {
                flex: 0 0 auto;
                color: $o-main-color-muted;
                font-weight: 500;
            }
        }
        .o-last-message-preview {
            width: 94%;
            max-height: 20px;
            color: $o-main-color-muted;
            @include o-text-overflow;
        }
    }
    .o-discuss-icon {
        opacity: 0;
    }
    &.o-preview-unread {
        background-color: transparent;
        &:hover {
            background-color: theme-color('light');
        }
        .o-preview-info {
            .o-preview-title {
                .o-preview-name, .o-preview-counter {
                    font-weight: 700;
                }
                .o-last-message-date {
                    color: $o-brand-primary;
                }
            }
        }
    }
    &.o-systray-activity {
        background-color: transparent;
        &:hover {
            background-color: theme-color('light');
        }
    }
}

@include media-breakpoint-down(sm) {

    .o-main-navbar > ul.o-menu-systray > li .dropdown-menu.show {
        border: none;
    }

    .o-mail-preview {
        padding: $o-mail-chatter-mobile-gap;

        .o-preview-info, .o-last-message-date {
            margin-left: $o-mail-chatter-mobile-gap;
        }

        .o-preview-name {
            font-size: 1.1em;
        }

        .o-last-message-date {
            font-size: 0.9em;
        }

        .o-last-message-preview {
            margin-top: $o-mail-chatter-mobile-gap*0.5;
        }
    }

    .o-mail-mobile-tabs {
        display: flex;
        box-shadow: 0 0 8px gray('400');

        .o-mail-mobile-tab {
            display: flex;
            flex: 1 1 auto;
            width: 20%;
            flex-flow: column nowrap;
            justify-content: space-between;
            padding: $o-mail-chatter-mobile-gap $o-mail-chatter-mobile-gap*2;
            box-shadow: 1px 0 0 gray('400');
            text-align: center;

            > span {
               display: block;
               font-weight: 500;
               font-size: 10px;

               &.fa {
                   padding-bottom: $o-mail-chatter-mobile-gap*2;
                   font-size: 1.3em;
               }
            }

            &.active > span {
                color: $o-brand-primary;
            }
        }
    }
}
