$primary-accent: #556ee6 !default;
$secondary-accent: #334332 !default;
$inverse-accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected-row: #ffffff !default;
$bg-white: #ffffff !default;
$f-color: #555b6d !default;
$primary-hover: #485ec4 !default;

