$o-kanban-large-record-width: 400px;
$o-kanban-medium-record-width: 350px;

.o-kanban-view.o-crm-team-kanban {
    .o-kanban-group:not(.o-column-folded) {
        width: $o-kanban-large-record-width + 2*$o-kanban-group-padding;
    }
    .o-kanban-record {
        width: $o-kanban-large-record-width;
    }
}

.o-kanban-view.o-crm-team-member-kanban {
    .o-kanban-group:not(.o-column-folded) {
        width: $o-kanban-medium-record-width + 2*$o-kanban-group-padding;
        min-height: 100px;
    }
    .o-kanban-record {
        width: $o-kanban-medium-record-width;
        min-height: 100px;
    }
    .ribbon {
        &::before, &::after {
            display: none;
        }

        span {
            background-color: $o-brand-verp;
            padding: 5px;
            font-size: small;
            height: auto;
        }
    }
    .ribbon-top-right {
        margin-top: -$o-kanban-dashboard-vpadding;

        span {
            left: 0px;
            right: 30px;
        }
    }
}
