.editor-enable .s-website-form[data-vcss="001"] {
    // Hidden field is only partially hidden in editor
    .s-website-form-field-hidden {
        display: block;
        opacity: 0.5;
    }
    // Fields with conditional visibility are visible and identifiable in the editor
    .s-website-form-field-hidden-if {
        display: block !important;
        background-color: $o-we-fg-light;
    }
    // Select inputs do not trigger the default browser behavior
    // Since we use a custom editable element
    .s-website-form-field select {
        pointer-events: none;
    }
    // Display the editable select as a single big field
    #editableSelect.form-control {
        height: auto;

        .s-website-form-select-item.selected {
            font-weight: bold;
        }
    }
}

.s-website-form[data-vcss="001"] {
    .s-website-form-label {
        @include media-breakpoint-down(xs) {
            width: auto !important;
        }
    }

    .s-website-form-field-hidden {
        display: none;
    }

    span.s-website-form-mark {
        font-size: 0.85em;
        font-weight: 400;
    }

    .s-website-form-dnone {
        display: none;
    }

    // The snippet editor uses padding and not margin.
    // This will include bootstrap margin in the dragable y axes
    .s-website-form-rows > .form-group {
        margin-bottom: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .s-website-form-submit, .s-website-form-recaptcha {
        .s-website-form-label {
            float: left;
            height: 1px;
        }
    }
    .s-website-form-no-submit-label {
        .s-website-form-label {
            display: none;
        }
    }
}

body:not(.editor-enable) .s-website-form[data-vcss="001"] {
    .s-website-form-date, .s-website-form-datetime {
        &:not(.s-website-form-datepicker-initialized) {
            [value] {
                color: transparent;
            }
        }
    }
}
