.o-list-view {
    position: relative;
    height: 100%;

    .o-list-table {
        position: relative;
        cursor: pointer;
        background-color: $o-view-background-color;
        margin-bottom: 0px;

        // Don't understand why but without those, the list view appears broken
        // in both form views and standalone list views.
        border-collapse: initial;
        border-spacing: 0;

        thead {
            color: $table-head-color;
            border-bottom: 1px solid #cacaca;
            > tr > th:not(.o-list-record-selector) {
                border-left: 1px solid #dfdfdf;
                @include o-text-overflow(table-cell);
                &:not(.o-column-sortable):hover {
                    cursor: default;
                }
                &.o-list-number-th {
                    text-align: right;
                }
            }
        }
        tbody > tr > td:not(.o-list-record-selector) {
            &:not(.o-handle-cell):not(.o-list-button):not(.o-state-selection-cell) {
                @include o-text-overflow(table-cell);
                &.o-list-text {
                    white-space: pre-wrap;
                }
            }

            &.o-list-number {
                text-align: right;
            }
            &.o-list-text {
                word-break: break-word;
            }
            &.o-list-char.o-color-cell .o-field-color {
                width: 17px;
                height: 17px;
            }
            &.o-list-button {
                white-space: nowrap;
                > button {
                    padding: 0 5px;
                    &:not(:last-child) {
                        margin-right: 3px;
                    }
                }
            }
        }
        &.o-list-computing-widths {
            > tbody > tr > td {
                &.o-list-text, // text field, className on the td
                > .o-field-text { // text field with widget, className inside the td
                    white-space: pre !important;
                }
            }
        }

        tfoot {
            cursor: default;
            color: $o-list-footer-color;
            background-color: $o-list-footer-bg-color;
            font-weight: $o-list-footer-font-weight;
            border-top: 2px solid #cacaca;
            border-bottom: 1px solid #cacaca;

            > tr > td {
                @include o-text-overflow(table-cell);
            }
            .o-list-number {
                text-align: right;
            }
        }

        .o-column-sortable:not(.o-handle-cell) {
            position: relative;
            user-select: none;  // Prevent unwanted selection while sorting

            &::after {
                font-family: FontAwesome;
                content: "\f0d7";
                opacity: 0;
            }
            &:not(:empty)::after {
                margin-left: 6px;
            }
            &.o-sort-up {
                cursor: n-resize;
                &::after {
                    content: "\f0d7";
                }
            }
            &.o-sort-down {
                cursor: s-resize;
                &::after {
                    content: "\f0d8";
                }
            }
            &:hover::after {
                opacity: 0.3;
            }
            &.o-sort-up, &.o-sort-down {
                color: $headings-color;
                &::after {
                    opacity: 1;
                }
            }
        }

        .o-list-record-selector {
            width: 40px;
            padding-left: $o-horizontal-padding;
            .custom-control-label {
                cursor: pointer;
            }
        }
        .o-list-record-remove, .o-handle-cell {
            width: 1px;  // to prevent the column to expand
        }

        .o-list-record-remove button {
            padding: 0px;
            background: none;
            border-style: none;
            display: table-cell;
            cursor: pointer;
        }

        // Grouped list views
        tbody > tr.o-group-header {
            > th, > td {
                vertical-align: middle;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .o-group-name {
                @include o-text-overflow(table-cell);
            }
            .o-group-buttons {
                display: inline-block;
                margin-left: 10px;

                > button {
                    @include o-hover-text-color($o-brand-primary, darken($o-brand-primary, 20%));
                    background-color: transparent;
                    border: none;
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
            .o-pager {
                cursor: text;
                user-select: none;
                text-align: right;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                margin-top: -2px;
                margin-bottom: -2px;

                input.o-pager-value {
                    display: inline-block;
                }

                .o-pager-previous, .o-pager-next {
                    max-height: 30px;
                    padding: 0 5px;
                    background-color: lighten($o-brand-lightsecondary, 10%);
                    &:hover {
                        background-color: $o-brand-lightsecondary;
                    }
                }
            }
        }
        tbody + tbody {
            border-top: none;  // Override bootstrap for grouped list views
        }

        &, &.table-striped {
            tr:focus-within {
                background-color: lighten($o-form-lightsecondary, 10%);
            }
        }
        thead th:focus-within,
        tbody.o-keyboard-navigation td:focus-within {
            background-color: $o-form-lightsecondary;
            outline: none;
        }

        .o-data-cell.o-text-overflow,
        .o-data-cell.o-invisible-modifier {
            // Override display: none to keep table cells aligned. Note: cannot use
            // 'initial' as it will force them to 'inline', not 'table-cell'.
            display: table-cell!important;
        }

        &.o-resizing tr > :not(.o-column-resizing) {
            opacity: 0.5;
        }

        &.o-empty-list {
            table-layout: fixed;
        }

        th {
            position: relative;
        }

        span.o-resize {
            bottom: 0;
            cursor: col-resize;
            position: absolute;
            right: 0;
            top: 0;
            width: 10px;
            z-index: 1; // must be over the sort caret (::after pseudo-element)
        }

        .o-list-record-remove-header {
            width: 32px;
        }

        .o-data-row.o-list-no-open {
            cursor: default;
        }

        .o-data-row:not(.o-selected-row) .o-data-cell {

            // Boolean fields in non-selected rows completely disabled.
            .custom-checkbox {
                pointer-events: none;
            }

            // These widgets enable the checkbox if there is no readonly modifier.
            &.o-boolean-button-cell,
            &.o-boolean-favorite-cell,
            &.o-boolean-toggle-cell,
            &.o-toggle-button-cell {

                &:not(.o-readonly-modifier) .custom-checkbox {
                    pointer-events: auto;
                }
            }
            &.o-many2many-avatar-user-cell {
                .o-field-many2manytags {
                    > span {
                        margin-right: 2px;
                    }
                }
            }
        }

        .o-data-row:not(.o-selected-row) {
            .o-list-many2one,
            .o-list-char,
            .o-list-number {
                white-space: nowrap;
                .o-field-widget:not(.o-row-handle):not(.o-field-badge) {
                    display: inline;
                }
            }
        }

        .o-data-row.o-selected-row > .o-data-cell:not(.o-readonly-modifier):not(.o-invisible-modifier) {
            position: relative; // for o-field-translate
            &:not(.o-handle-cell) {
                background-color: white;
            }
            .o-input {
                border: none;
                padding: 0;
            }
            > .o-field-text {
                vertical-align: top;
            }
            > .o-field-widget {
                width: 100%;
                .o-external-button {
                    padding: 0;
                    border: none;
                    background-color: inherit;
                    margin-left: 5px;
                    font-size: 12px;
                }
            }
            > .o-field-monetary input {
                width: 0; // override width: 100px and let flex makes this input grow
                margin: 0 4px;
            }
            > .o-field-many2manytags > .o-field-many2one {
                // reduce basis to prevent many2one input from going to the next line to often
                flex-basis: 40px;
            }
            .o-input-dropdown, .o-datepicker {
                > .o-input {
                    padding-right: 15px; // to prevent caret overlapping
                }
                > .o-dropdown-button, .o-datepicker-button {
                    margin-right: 5px;
                    @include o-position-absolute(0, 0);
                }
            }
            > input.o-field-translate, textarea.o-field-translate {
                padding-right: 25px;
                + span.o-field-translate {
                    margin-left: -35px;
                    padding: 0px 1px;
                    text-align: right;
                    width: 35px;
                    vertical-align: top;
                    font-size: 12px;
                }
            }
            > .o-row-handle {
                visibility: hidden; // hide sequence when editing
            }
            > .o-field-badge {
                width: auto; // override width: 100% to keep the optimal badge width
            }
        }

        .o-field-x2many-list-row-add, .o-group-field-row-add {
            a:focus, a:active {
                color: $link-hover-color;
                outline: none;
            }
        }
    }

    // Optional fields
    &.o-list-optional-columns {
        th:last-child {
            padding-right: 15px;
        }
    }

    .o-optional-columns-dropdown-toggle,.o-optional-columns {
        @include o-position-absolute($top: 0, $right: 0);
    }

    .o-optional-columns-dropdown-toggle {
        cursor: pointer;
        padding: 0 5px;
        text-align: center;
        line-height: 30px;
        z-index: 1; // must be over the resize handle
    }

    .o-optional-columns {
        .o-optional-columns-dropdown {
            margin-top: 30px;
            user-select: none;
            .dropdown-item {
                label {
                    padding-left: 10px;
                }
            }
        }
    }
}

.o-view-controller > .o-content > .o-list-view > .table-responsive {
    // in main list views, let .o-content scroll
    overflow: visible;
}

// Buttons in ControlPanel
.o-list-buttons {
    .o-list-button-save, .o-list-button-discard {
        display: none;
    }
    &.o-editing { // for list view editable
        .o-list-button-add {
            display: none
        }
        .o-list-button-save, .o-list-button-discard {
            display: inline-block
        }
    }
}
