$o-brand-verp: #243742;
$o-brand-primary: #5D8DA8;

$bw-required-color: #d1dfe6;

$bw-apps-color: #f8f9fa;

$bw-appbar-color: #dee2e6;
$bw-appbar-background: #000000;

$bw-brand-gradient-start: lighten($o-brand-verp, 10%);
$bw-brand-gradient-end: lighten($o-brand-verp, 20%);

