<?xml version="1.0" encoding="utf-8"?>
<verp>
    <data>

        <menuitem id="menuFinanceLegalStatement"
                  name="Financial Reports"
                  sequence="10"
                  parent="account.menuFinanceReports"/>

        <menuitem id="menuFinancePartnerReports"
                  name="Partner Reports"
                  sequence="20"
                  parent="account.menuFinanceReports"/>

        <menuitem id="menuFinanceAuditReports"
                  name="Audit Reports"
                  sequence="30"
                  parent="account.menuFinanceReports"/>

        <record id="account.accountReportsManagementMenu" model="ir.ui.menu">
          <field name="sequence" eval="40"/>
        </record>

    </data>
</verp>

