.verp div.oe-account-help {
    background : #D6EBFF;
    width: 100%;
    padding: 10px;
    border: 3px solid #C1D4E6;
}

.verp p.oe-account-font-help{
    text-align: left;
    font-weight: bold;
    margin: 0px;
    font-size: 14px;
}

.verp p.oe-account-font-content{
    margin-left: 30px;
    font-size: 14px;
}

.verp p.oe-account-font-title{
    margin-top: 7px;
    font-size: 15px;
    font-style: italic;
    color: grey;
}

.oe-invoice-outstanding-credits-debits {
    clear: both;
    float: right;
    min-width: 350px;
}

@media (max-width: 767.98px) {
    .oe-invoice-outstanding-credits-debits {
        min-width: initial;
        width: 100%;
    }
}

.oe-account-terms {
    flex: auto !important;
}
